
<%= form_for @photo, :html => {:multipart => true} do |f| %>
  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, class: "form-control" %>
  </p>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.submit class: "btn btn-default" %>
  </p>

<% end %>
